
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: url(images/1088840.jpg) center;
    font-size: 14px;
    color: #405A67;
    height: 207px;
}

.div {
    padding-bottom: 10px;
}

.login {
    color: black;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 190px;
}

.outputpage {
    color: white;
    background: url(images/image2.jpg) center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.home12 {
    text-align: center;
    background: url(images/7071.jpg) center;
}

.customer {
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 190px;
}

.Medicine {
    text-align: center;
    background: url(images/7091.jpg) center;
    text-transform: uppercase;
}

.signup {
    color: white;
    text-align: center;
    color: black;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
    letter-spacing: -1px;
    font-size: 44px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 16px;
}

/* Header */

.header {
    background: url(images/image1.jpg);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}

/* Footer */

.footer {
    background: url(images/image1.jpg);
    text-align: center;
}
